.label {
    font-size: 16px;
    color: #000000;
    border: 1px solid black;


}
.box-with-border {
    border: 2px solid black;
   
}
.list-box {
    background-color: #d6d6d6; 
}
.button {
    background-color: #8f8d8d; 
    color: rgb(0, 0, 0); 
    padding: 14px 28px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.3s ease; 
  }
  
.button:active {
    transform: scale(0.95); 
  }
  
.button:hover {
    background-color: #727070; 
  }
  